body {
    margin: 0;
    padding: 0;
    height: 100%;
}

img.bg-image {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    min-height: 100%;
    min-width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    overflow: auto;
    z-index: -1;
}
