ul.menu
  width: 100%
  display: flex
  position: fixed
  z-index: 1
  background: blue
  top: 0
  left: 0
  justify-content: center
  list-style-type: none
  margin: 0

  li
    padding: 10px
    margin-right: 10px
